# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [143]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [144]:
# 設定 data_path, 並讀取 app_train
dir_data = "D:\\jupyter_notebook\\ML100Days\\data"
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [145]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
# sub_train2 = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [146]:
#one-hot by pd
sub_train = pd.get_dummies(sub_train)
print(sub_train)

        WEEKDAY_APPR_PROCESS_START_FRIDAY  WEEKDAY_APPR_PROCESS_START_MONDAY  \
0                                       0                                  0
1                                       0                                  1
2                                       0                                  1
3                                       0                                  0
4                                       0                                  0
...                                   ...                                ...
307506                                  0                                  0
307507                                  0                                  1
307508                                  0                                  0
307509                                  0                                  0
307510                                  0                                  0

        WEEKDAY_APPR_PROCESS_START_SATURDAY  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
307506                                    0
307507                                    0
307508                                    0
307509                                    0
307510                                    0

        WEEKDAY_APPR_PROCESS_START_SUNDAY  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
...                                   ...
307506                                  0
307507                                  0
307508                                  0
307509                                  0
307510                                  0

        WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         1
...                                     ...
307506                                    1
307507                                    0
307508                                    1
307509                                    0
307510                                    1

        WEEKDAY_APPR_PROCESS_START_TUESDAY  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
307506                                   0
307507                                   0
307508                                   0
307509                                   0
307510                                   0

        WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                          1
1                                          0
2                                          0
3                                          1
4                                          0
...                                      ...
307506                                     0
307507                                     0
307508                                     0
307509                                     1
307510                                     0

[307511 rows x 7 columns]

In [147]:
#label Encoding
sub_train2 = app_train
le = LabelEncoder()
for col in sub_train2:
    if sub_train2[col].dtype == 'object':
        try:
            le.fit(sub_train2[col])
            sub_train2[col] = le.transform(sub_train2[col])
        except:
            print(sub_train2[col])
print(sub_train2.head())

0         Unaccompanied
1                Family
2         Unaccompanied
3         Unaccompanied
4         Unaccompanied
              ...
307506    Unaccompanied
307507    Unaccompanied
307508    Unaccompanied
307509    Unaccompanied
307510    Unaccompanied
Name: NAME_TYPE_SUITE, Length: 307511, dtype: object
0            Laborers
1          Core staff
2            Laborers
3            Laborers
4          Core staff
             ...
307506    Sales staff
307507            NaN
307508       Managers
307509       Laborers
307510       Laborers
Name: OCCUPATION_TYPE, Length: 307511, dtype: object
0         reg oper account
1         reg oper account
2                      NaN
3                      NaN
4                      NaN
                ...
307506    reg oper account
307507    reg oper account
307508    reg oper account
307509                 NaN
307510                 NaN
Name: FONDKAPREMONT_MODE, Length: 307511, dtype: object
0         block of flats
1         block of flats
2                    NaN
3                    NaN
4                    NaN
               ...
307506    block of flats
307507    block of flats
307508    block of flats
307509    block of flats
307510    block of flats
Name: HOUSETYPE_MODE, Length: 307511, dtype: object
0         Stone, brick
1                Block
2                  NaN
3                  NaN
4                  NaN
              ...
307506    Stone, brick
307507    Stone, brick
307508           Panel
307509    Stone, brick
307510           Panel
Name: WALLSMATERIAL_MODE, Length: 307511, dtype: object
0          No
1          No
2         NaN
3         NaN
4         NaN
         ...
307506     No
307507     No
307508     No
307509     No
307510     No
Name: EMERGENCYSTATE_MODE, Length: 307511, dtype: object
   SK_ID_CURR  TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
0      100002       1                   0            1             0
1      100003       0                   0            0             0
2      100004       0                   1            1             1
3      100006       0                   0            0             0
4      100007       0                   0            1             0

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                1             0          202500.0    406597.5      24700.5
1                0             0          270000.0   1293502.5      35698.5
2                1             0           67500.0    135000.0       6750.0
3                1             0          135000.0    312682.5      29686.5
4                1             0          121500.0    513000.0      21865.5

   ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
0  ...                 0                0                 0                 0
1  ...                 0                0                 0                 0
2  ...                 0                0                 0                 0
3  ...                 0                0                 0                 0
4  ...                 0                0                 0                 0

   AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 122 columns]

In [151]:
#One-Hot Encoding by skilearn
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
try:
    sub_train2 = ohe.fit_transform(sub_train2).toarray()
except Exception as e:
    print("Exception: "+str(e))

Exception: Input contains NaN, infinity or a value too large for dtype('float64').